@{
    ViewData["Title"] = "Home";
}

<h1>McKenna's Photography</h1>
<p>Welcome to my photography website! This is where I share my passion for photography, which I have loved my entire life, but have only recently started to pursue more seriously.</p>
<p>Below is a picture of the camera I have, which is a Sony A6000. That's the name of the body at least... I can't remember which lens I use off the top of my head. And then there's a picture of the mountains because I LOVE taking my camera on hikes! That picture isn't mine though, because I was too lazy to upload any of my actual photos to my computer.</p>
<p>If you do want to see some of the pictures I've taken, you can find my photography Instagram account at mckennalyn_photography</p>
<img src="~/cameraimage1.jpg" class="img-fluid" alt="Image of a camera" />
<img src="~/mountainsimage2.jpg" class="img-fluid" alt="Image of mountains" />
