<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hourly Calculator</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/camerafav.jpg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mission5.styles.css" asp-append-version="true" />
</head>
<body>

    <h1>Photography Service Calculator</h1>

    <p>If you'd like to hire me to take your pictures, here is a price calculator</p>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="hours">Number of Hours Needed:</label>
                    <input type="number" id="hours" class="form-control" min="1" />
                </div>
                <button id="calculateBtn" class="btn btn-primary">Calculate Total</button>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="chargePerHour">Charge Per Hour:</label>
                    <input type="text" id="chargePerHour" class="form-control" value="$50" readonly />
                </div>
                <div class="form-group">
                    <label for="total">Total:</label>
                    <input type="text" id="total" class="form-control" readonly />
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/calculator.js"></script>
</body>
</html>
